<?xml version="1.0"?>
<robot name="test">

   <link name="upperLegBridgeR">
       <visual>
           <geometry>
               <box size="0.1 0.05 0.3155"/>
           </geometry>
           <origin xyz="0.0005 0.007 -0.15" rpy="0 0 0"/>
           <material name="upperLegLinkColor" />
       </visual>
       <inertial>
           <mass value="1.94"/>
           <inertia ixx="0.0104" ixy="-0.00000195" ixz="0.0000231" iyy="0.00933" iyz="-0.000127" izz="0.00161"/>
           <origin xyz="-0.00154  -0.00421 -0.111" rpy="0 0 0"/>
       </inertial>
       <collision>
           <geometry>
               <box size="0.1 0.05 0.3155"/>
           </geometry>
           <origin xyz="0.0005 0.007 -0.15" rpy="0 0 0"/>
       </collision>
   </link>

   <joint name="jointLowerLegR" type="revolute">
       <parent link="upperLegBridgeR"/>
       <child link="lowerLegBridgeR"/>
       <origin xyz="0.2 0.0 0.0" rpy="0 0 0"/>
       <axis xyz="0 0 1"/>
       <limit effort="9000" lower="0" upper="1.570796" velocity="10"/>
       <dynamics damping="0.198431592389"/>
   </joint>

   <link name="lowerLegBridgeR">
       <visual>
           <geometry>
               <box size="0.05 0.05 0.28"/>
           </geometry>
           <origin xyz="-0.0015 0 -0.14" rpy="0 0 0"/>
           <material name="upperLegLinkColor" />
       </visual>
       <inertial>
           <mass value="0.267"/>
           <inertia ixx="0.00252" ixy="-0.000000411" ixz="-0.0000238" iyy="0.00245" iyz="0.0000366" izz="0.000110"/>
           <origin xyz="0.00135  0.00496 -0.105" rpy="0 0 0"/>
       </inertial>
       <collision>
           <geometry>
               <box size="0.05 0.05 0.28"/>
           </geometry>
           <origin xyz="0.0015 0 -0.14" rpy="0 0 0"/>
           <!-- <contact_coefficient mu="0.0960723602789"  resitution="0"  k_p="4000"  k_d="0.198431592389" /> -->
       </collision>
   </link>

</robot>
